<?xml version="1.0" encoding="utf-8"?>
<!-- JNLP File for GIFT-Cloud Uploader, mostly adapted from http://www.dclunie.com/pixelmed/software/webstart/DicomCleaner.jnlp -->
<jnlp
  codebase="$project.Url/uploader/"
  href="$outputFile">
  <information>
    <title>$project.name</title>
    <vendor>$project.Organization.Name</vendor>
    <homepage href="doc/manual.pdf"/>
    <description>$project.Description</description>
    <description kind="short">A simple application to query, retrieve, import, de-identify DICOM instances and upload them securely on to GIFT-Cloud.</description>
    <icon href="res/icon.ico"/>
    <offline-allowed/>
  </information>
  <security>
      <all-permissions/>
  </security>
  <resources>
    <j2se version="1.6+" java-vm-args="-Xmx768m"/>
	$dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>
